@import "tailwindcss";

/* Nasconde la scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}




@keyframes slideIn {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-slideIn {
  animation: slideIn 1s forwards;
}

.animate-slideOut {
  animation: slideOut 1s forwards;
}





